{% load static %}

<header>
    
    
    <div class="info-header">
        <i class="fa-solid fa-bars"></i>
    </div>
     

    <div class="search-box">
        <form
            
            action="{{ search_action }}"
            method="GET"> 
            <i class="fa-solid fa-magnifying-glass"></i>       
            <input
                type="search"
                class="search-text"
                placeholder="{{ placeholder_action }}"
                id="{{ id_action }}"
                name="{{ name_action }}"
                value=" {{ search_value }}"                
            >
        </form>
    </div>

    <div>
        <img class="user-icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Male_Doctor_Flat_Icon_Vector.svg/32px-Male_Doctor_Flat_Icon_Vector.svg.png">
    </div>
    

    <div class="user-info-box">
        <div class="item-para-cima">
            <h1>{{ user.username }}</h1>
        </div>

        <div class="item-para-cima">
            <img class="user-icon user-icon-bigger" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Male_Doctor_Flat_Icon_Vector.svg/64px-Male_Doctor_Flat_Icon_Vector.svg.png">
        </div>

        <div class="item-para-cima">{{ user.email }}</div>

        <div class="item-para-baixo">
            
                <a href="{% url 'dashboard:logout'%}">Encerrar sessão</a> 
            
        </div>    
         
    </div>

    
    

</header> 

    
    
        
        
        
               
        

