{% load static %}

<header>   
     

    <div class="search-box">
        <form
            
            action="{{ search_action }}"
            method="GET"> 
            <i class="fa-solid fa-magnifying-glass"></i>       
            <input
                type="search"
                class="search-text"
                placeholder="{{ placeholder_action }}"
                id="{{ id_action }}"
                name="{{ name_action }}"
                value=" {{ search_value }}"                
            >
            
            
        </form>
            
                      
        
        
    
    </div>

    
    <div class="info-header">             
        
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard:logout'%}">Encerrar sessão</a> 
        {% endif %} 
    </div>
</header> 

    
    
        
        
        
               
        

