{% load static %}

<header>     
    <div class="info-header">
        <h1> Bem Vindo {{ user.username }}!</h1> 
    </div> 

    <div class="search-box">
        <form
            action="{{ search_action }}"
            method="GET">        
            <input
                type="search"
                class="search-text"
                placeholder="{{ placeholder_action }}"
                id="{{ id_action }}"
                name="{{ name_action }}"
                value=" {{ search_value }}"                
            >
        </form>
            <a href="search-btn">
                <img class='loupe-blue' src="{% static 'static/media/loupe-blue.svg' %}" alt="">
                <img class='loupe-white' src="{% static 'static/media/loupe-white.svg' %}" alt="">
            </a>
                      
        
        
    
    </div>
    <div class="info-header">
              
        
        {% if user.is_authenticated %}
            <a href="{% url 'dashboard:logout'%}">Encerrar sessão</a> 

        {% else %}
            <a href="{% url 'dashboard:login'%}">Entrar</a> 
            <a href="{% url 'dashboard:register_user'%}">Registrar</a> 
        {% endif %}             
    </div>
</header> 

    
    
        
        
        
               
        

