<div class="sidebar_pront">
    <ul class="visible-items">
        <li class="logo-prontuario">Prontuário</li>

        <li class="sidebar-item"><button id="startButton" class="button-not-pressed"><i class="bi-play-fill"></i>Iniciar Atendimento</button></a></li>

        <li class="sidebar-item" id="timer">Duração:</li>

        <li class="sidebar-item">Resumo</li>

        <li class="sidebar-item">Tabela de Acompanhamento</li>
    </ul>       

    <ul class="hidden-items" id="hidden-items">
        <p>{{ paciente.id }}</p>
        <li><a id="IDatendimento" href="#">Atendimento</a></li>

        <li><a href="{% url 'dashboard:teste' %}">teste</a></li>

        <li>Exames e Procedimentos</li>

        <li>Prescrições</li>

        <li>Documentos e Atestados</li>

        <li>Imagens e Anexos</li>             

    </ul>   
    
</div>