<div class="sidebar_pront">
    <ul id="sidebarItems">
        <h1 class="logo"><a href="{% url 'dashboard:prontuario' paciente.id %}" >Prontuário</a></h1>   
            
        <button id="startButton" class="button-not-pressed">Iniciar Atendimento</button>
            <a href="#" id="timer">Duração:

        

            <a href="{% url 'dashboard:atendimento_form' paciente.id %}" id="IDatendimento">Atendimento</a>

            <a href="#">Exames e procedimentos</a>

            <a href="#">Prescrições</a>

            <a href="#">Documentos e Atestados</a>

            <a href="#">Imagens e Anexos</a>

            

        </ul>   
</div>