{% with current_path=request.path %}
<div class="sidebar">
    <h1 class="logo"><a href="{% url 'dashboard:index' %}" style="margin-bottom: 10%;">M.D</a></h1>
    
    <a href="{% url 'dashboard:index' %}"
        class="{% if current_path == '/' %}active{% endif %}" >
        <i class="bi bi-house-door"></i>
        Painel</a>
    
    <a href="{% url 'dashboard:pacientes' %}"
        class="{% if current_path == '/pacientes/' %}active{% endif %}">
        <i class="bi bi-person"></i>
        Pacientes</a>
    <a href="{% url 'dashboard:prontuarios' %}"
        class="{% if current_path == '/prontuarios/' %}active{% endif %}">
        <i class="bi bi-files"></i>
        Prontuários</a>    
    <a href="{% url 'dashboard:convenios' %}"
        class="{% if current_path == '/convenios/' %}active{% endif %}">
        <i class="fa-regular fa-handshake"></i>
        Convênios</a>

    <a href="#" id="ultimo-link"><i class="bi bi-whatsapp"></i></a>
</div>
{% endwith %}