<div class="content">
    <div class="titulo-secao">
        <h2>
            Timer
            <button><a href="#" target=""><i class="bi bi-play-fill"></i>Iniciar Atendimento</a></button>
            <button><a href="#" target="">Parar Timer</a></button>
            <br>
            {{ paciente.nome }} 
            <br>
            {{ paciente.idade }}
            <br>
            {{ paciente.convenio}}
            <br>
            Primeira consulta: static

            
        </h2>
    </div>
</div>    