<div class="sidebar_pront">
    <h1 class="logo"><a href="{% url 'dashboard:prontuario' paciente.id %}" style="margin-bottom: 10%;">Prontuário</a></h1>
    
    
    <a href="#">
        
        <button id="startButton" class="button-not-pressed"><i class="bi-play-fill"></i>Iniciar Atendimento</button></a>
        <a href="#" id="timer">Duração: </a>

        <a href="#">Resumo</a>

        <a href="#">Tabela de Acompanhamento</a> 

        <ul id="sidebarItems">

            <a href="{% url 'dashboard:atendimento_form' paciente.id %}" id="IDatendimento">Atendimento</a>

            <a href="#">Exames e procedimentos</a>

            <a href="#">Prescrições</a>

            <a href="#">Documentos e Atestados</a>

            <a href="#">Imagens e Anexos</a>

            

        </ul>   
</div>