{% with current_path=request.path %}
<div class="sidebar_pront">
    <h1 class="logo"><a href="{% url 'dashboard:prontuario' paciente.id %}" style="margin-bottom: 10%;">Prontuário</a></h1>
    
    <a href="#"
        class="{% if current_path == '/' %}active{% endif %}" >
        
        <button id="startButton"><i class="bi bi-play-fill"></i>Iniciar Atendimento</button></a>
        <a href="#" id="timer">Duração: </a>


    <a href="{% url 'dashboard:agenda' %}"
        class="{% if current_path == '/agenda/' %}active{% endif %}"> 
        
        Resumo</a>
    <a href="{% url 'dashboard:agenda' %}"
    class="{% if current_path == '/agenda/' %}active{% endif %}"> 
    
        Tabela de Acompanhamento</a>    
    <a href="{% url 'dashboard:pacientes' %}"
        class="{% if current_path == '/pacientes/' %}active{% endif %}">
        
        Atendimento</a>
    <a href="{% url 'dashboard:prontuarios' %}"
        class="{% if current_path == '/prontuarios/' %}active{% endif %}">
        
        Exames e procedimentos</a>
    <a href="{% url 'dashboard:relatorios' %}"
        class="{% if current_path == '/relatorios/' %}active{% endif %}">
        
        Prescrições</a>
    <a href="{% url 'dashboard:configuracoes' %}"
        class="{% if current_path == '/configuracoes/' %}active{% endif %}">
        
        Documentos e Atestados</a>
    <a href="{% url 'dashboard:configuracoes' %}"
    class="{% if current_path == '/configuracoes/' %}active{% endif %}">
    
        Imagens e Anexos</a>

    <a href="#" id="ultimo-link"><i class="bi bi-whatsapp"></i></a>
</div>


{% endwith %}
<!--
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let timer;
        let seconds = 0;

        function updateTimer() {
            document.getElementById('timer').textContent = `Duração: ${seconds} `;
        }

        document.getElementById('startButton').addEventListener('click', function() {
            if (!timer) {
                timer = setInterval(function() {
                    seconds++;
                    updateTimer();
                }, 1000); // 1000ms = 1 segundo
            }
        });
    });
</script>
-->
<!--<script>
function updateTimer() {
    const hours = Math.floor(seconds / 3600);
    const minutes = Math.floor((seconds % 3600) / 60);
    const remainingSeconds = seconds % 60;

    // Formate os valores com dois dígitos, adicionando zeros à esquerda, se necessário
    const formattedTime = `${padZero(hours)}:${padZero(minutes)}:${padZero(remainingSeconds)}`;

    document.getElementById('timer').textContent = `Duração: ${formattedTime}`;
}

function padZero(value) {
    return value < 10 ? `0${value}` : value;
}

document.addEventListener('DOMContentLoaded', function() {
    let timer;
    let seconds = 0;

    document.getElementById('startButton').addEventListener('click', function() {
        if (!timer) {
            timer = setInterval(function() {
                seconds++;
                updateTimer();
            }, 1000); // 1000ms = 1 segundo
        }
    });
});
</script>-->