{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="titulo-secao-pront">       
            <h1>{{ agendamento.paciente.nome }} </h1>
            <br>
            <h2>Idade: {{ agendamento.paciente.idade }}</h2>            
            <h2>Convênio: {{ agendamento.convenio}}</h2>            
            <h2>Procedimento: {{ agendamento.procedimento}}</h2>           
        </div>

        <div class="titulo-secao-avulso">
            <h3>Últimos diagnósticos</h3>
        </div>

        <div class="titulo-secao-pront">
            <div class="">
                <h1>Atendimento</h1>              
                <form
                    action="{{ form_action }}"
                    method="POST">
                    {% csrf_token %}                   
                    
                    {% if form.non_field_errors %}                        
                        <ul>
                            {% for error in form.non_field_errors  %}
                                <li>{{ error }}</li>
                            {% endfor %} 
                        </ul>                                               
                    {% endif %}               
                    
                    {% for field in form %}                    
                        <div>
                            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field }}

                            {% if field.errors %}
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>                        
                            {% endif %}
                            
                            {% if field.help_text %}
                                <p class="help-text"> {{ field.help_text }} </p>
                            {% endif %}

                        </div>
                    {% endfor %}                       
                            

                    <input type="submit" value="Enviar">
                </form>               
    
            </div>      
        </div>
    </div>
{% endblock %}
             
                      
