{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="titulo-secao-pront">       
            <h1>{{ paciente.nome }} </h1>
            <br>
            <h2>Idade: {{ paciente.idade }}</h2>            
            <h2>Convênio: {{ paciente.convenio}}</h2>            
            <h2>Primeira consulta: static</h2>  
        </div>

        <div class="titulo-secao-avulso">
            <h3>Últimos diagnósticos</h3>
        </div>

        <div class="titulo-secao-pront">
            <div class="">
                <h1>Atendimento</h1>
                
                <br>
                <form
                    action="{% url 'dashboard:atendimento' agendamento.id %}"
                    method="POST">
                    {% csrf_token %}
                    
                    
                    {% if form.non_field_errors %}                        
                        {{ form.non_field_errors}}                                               
                    {% endif %}                   
                      
                    {% for field in form %}
                    
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                        {{ field.errors }}

                        
                        {% if field.help_text %}
                            <p class="help-text"> {{ field.help_text }} </p>
                        {% endif %}
                            
                        
                    </div>
                    {% endfor %}

                        

                    <input type="submit" value="Enviar">
                </form>
                
    
            </div>      
        </div>


    </div>
{% endblock %}
