{% extends 'prontuario.html' %}

<h1>teste2</h1>

{% block content %}
    <div class="content">
        <div class="titulo-secao-pront">       
            <h1>{{ paciente.nome }} </h1>
            <br>
            <h2>Idade: {{ paciente.idade }}</h2>            
            <h2>Convênio: {{ paciente.convenio}}</h2>            
            <h2>Primeira consulta: static</h2>  
        </div>

        <div class="titulo-secao-avulso">
            <h3>Últimos diagnósticos</h3>
        </div>
    </div>
{% endblock %}
