{% extends 'base.html' %}

{% block content %}      
    {% if page_obj %}
        <div class="table-container">
            <table class="table-index">                       
                <thead class="table-head">  
                    <tr class="table-row">
                        <th colspan="7"> 
                            <h3 class="titulo-consultas">Prontuários </h3>
                        </th>
                    </tr>                                        
                    <tr class="table-row">                        
                        <th>Nome</th>
                        <th>ID</th>
                        <th>Últimos Atendimentos</th>
                        <th>Procedimento</th>                       
                        <th>Convênio</th>                       
                        <th>ID Prontuário</th>                       
                        <th></th>                       
                        
                        
                    </tr>
                </thead>               
                
                
                <tbody>
                    {% for p in page_obj %}           
                        <tr class="table-row">                        
                            <td>
                                <a href="{% url 'dashboard:read_patient' p.id %}">
                                    {{ p.paciente.nome }}
                                </a>
                            </td>

                            <td>
                                <a href="#">
                                    {{ p.paciente.id }}
                                </a>
                            </td> 

                            <td>{{ p.data_hora_atendimento }}</td>

                            <td>{{ p.agendamento.procedimento.nome }} </td>                     
                             
                            <td> {{p.agendamento.convenio}} </td> 

                            <td> {{p.id}} </td> 
                            <td>                                
                                <button><a href="{% url 'dashboard:agendar_paciente' p.paciente.id %}">Agendar</a></button>
                                <button><a href="{% url 'dashboard:prontuarios_especificos' p.paciente.id %}">Prontuario</a></button>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>  
                            
            </table>
            {% include 'partials/_pagination.html' %}  
        </div> 
        {% else %}
        <div class="titulo-secao">
            <h2>
                Nenhum Prontuário registrado.
            </h2>
        </div>
        
    {% endif %}
{% endblock %}
                                                       