.all-box{
    margin-left: 3.3%;
    margin-right: 5%;
    margin-top: 1%;
    width: 93.7%;    
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);   
}

.box{
    display: flex;
    justify-content: space-around;   
    background-color: rgb(53, 117, 238); 
    width: 24.5%;   
    border-radius: 20px;
    color: rgb(216, 216, 216);
    font-size: 110%;
    justify-content: space-evenly;
    flex-direction: row;
    
    
}

.box:hover{
    opacity: 0.9;    
}

.icon-box {
    font-size: 250%;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 3%;
    margin: 9% 9% 9% 9%;
    color: black;  
}

.bi-currency-dollar {    
    color: rgb(19, 95, 12);
}

.box h3{
    font-size: 90%;    
    margin-top: 15%;
    
}

.info-text {
    align-items: center;
}


.box h4:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 70%;
}

.valor-box{
    
    font-size: 220%;    
    ;
    
}

.valor-receita-mes {
    margin-top: 5%;
    margin-left: 0%;
    font-size: 220%;
}

@media screen and (max-width: 1000px) {
    .all-box{
        display: none;
    }

}