header {
    width: 100%;
    background-color: rgb(228, 228, 228);
    padding: 0.5% 2%;
    display: flex;
    justify-content: space-between;    
}


.info-header {    
    color: rgb(37, 37, 37);
    display:flex;        
    align-items: center;        
}




















