.message {
    max-width: 100%;
    text-align: center;
}

.message.success {
    background: rgba(0, 255, 0, 0.3);
    border: 1px solid rgba(0, 255, 0, 90%);
    width: 100%;
}

.message-center {
    align-items: center;
}

.message.error {
    background: rgba(255, 0,0,0.3);
    border: red;
}

.message.warning {
    background: rgba(255, 255, 0, 0.3);
    border: 1px solid rgba(255, 255, 0, 90%);
}

.message.info {
    background: rgb(0, 0, 255, 0.3);
    border: rgb(0, 0, 255, 0.3);
}

.messages-user {
    right: 20%;
    width: 60%;    
    position: absolute;
    bottom: 75%;
    z-index: 15;
    border-radius: 30px;
    text-align: center;
    
    
}

.message-user {
    margin-bottom: 5px; 
    border-radius: 30px;
    padding: 10px; 
}

.message-user.error {
    background: rgb(216, 98, 108);
    color: white;
}

.message-user.success {
    background: rgba(10, 151, 10, 0.3);
    color: white;
}