.table-container {
    overflow: hidden;
    margin-left: 3.3%;
    margin-right: 3.3%;
    margin-top: 1%;    
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(228, 228, 228);
    border-radius: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;
}
table, th, td{
    border: 1px solid rgb(228, 228, 228);
    border-radius: 12px;

    
}

.table-row td a {
    text-decoration: none;
}


th, td {
    padding: 10px;
    text-align: left;    
}






.cancelado{
    color: white;
    background-color: rgb(199, 0, 0);
    
}

.confirmado{
    color: white;
    background-color: green;
}

.pendente{
    color: white;
    background-color: rgb(179, 179, 0);
}

