*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    margin: 0; /* Remova margens padrão */
    padding: 0; /* Remova preenchimentos padrão */
  }

  .main{      
    margin-left: 12%;    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }



  .content{
    width: 100%;
    height: 100%;          
    background-color: rgb(245, 245, 245);
    flex-grow: 1;
}
  


header {
    width: 100%;
    background-color: rgb(228, 228, 228);
    padding: 0.5% 2%;
    display: flex;
    justify-content: space-between;
    
    
}

.info-header {
    margin-left: 1%;
    color: black;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    
    
}

.bi-justify:hover{
    transform: scale(1);
    transition: transform 0.3s ease;
    transform: scale(1.1) rotate(5deg);
}



.bi-search:hover{
    
    transform: scale(1);
    transition: transform 0.3s ease;
    transform: scale(1.1) rotate(5deg);
}

.bi-bell:hover{
    transform: scale(1);
    transition: transform 0.3s ease;
    transform: scale(1.1) rotate(5deg);
}

.info-header img{
    width: 10%;    
    border-radius: 100%; 
       
}

.info-header img:hover{
    transform: scale(1);
    transition: transform 0.3s ease;
    transform: scale(1.1) rotate(5deg);
}


.sidebar {       
    height: 100%;    
    width: 12%;
    position: fixed;    
    background-color: #038C8C;  
    background-color: #514BF2;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {        
    padding: 10%;
    text-decoration: none;
    font-size: 85%;
    color: white;
    display: flex;    
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}
.sidebar a:hover{opacity: 0.5;}


.sidebar h1 {   
    padding: 5% 0% 10%;
    font-size: 130%;
    display: flex; 
    max-width: 80%;
    color: white;
    align-items: center;
    overflow:hidden;
    cursor: pointer;
}

.sidebar h1:hover{
    opacity: 0.5;
}

#ultimo-link {
    padding-top: 60%;
    font-size: 200%;
    color: rgb(88, 207, 88);
}



.titulo-secao{
    background-color: white;
    padding: 0.5%;
    margin-left: 3.3%;
    margin-top: 1%;
    margin-right: 3.3%;
}

.titulo-secao h2{
    font-size: 110%;
    color: rgb(61, 61, 61);
}

.all-box-info{
    margin-left: 3.3%;
    margin-right: 5%;
    margin-top: 1%;
    width: 93.7%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(245, 245, 245);
    
    
    
}

.box-info-single{

    display: flex;
    justify-content: space-around;
    background-color: rgb(2, 103, 115);
    background-color: #514BF2;
    width: 24.5%;   
    border-radius: 4%;
    color: rgb(216, 216, 216);
    font-size: 110%;
    flex-wrap: wrap;
    
    
}

.box-info-single:hover{
    opacity: 0.9;
    
}

.bi-clipboard2 {
    font-size: 250%;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 3%;
    margin: 9% 9% 9% 9%;
    color: black;
}

.bi-clipboard2-check {    
    font-size: 250%;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 3%;
    margin: 9% 9% 9% 9%;
    color: black;
}

.bi-list-columns {
    font-size: 250%;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 3%;
    margin: 9% 9% 9% 9%;
    color: black;
}

.bi-currency-dollar {
    font-size: 250%;
    background-color: rgba(255, 255, 255, 0.603);
    padding: 3%;
    margin: 9% 9% 9% 9%;
    color: rgb(19, 95, 12);
}



.box-info-single h3{
    font-size: 90%;    
    margin-top: 15%;
    
}


.box-info-single h4{
    font-size: 65%;
    margin-right: 22%;  
    margin-top: 1%;
    margin-bottom: 2%;  
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease; 
}

.box-info-single h4:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: 70%;
}

.valor-box{
    margin-top: 5%;
    font-size: 220%;    
    margin-left: 20%;
    
}

.valor-receita-mes {
    margin-top: 5%;
    margin-left: 0%;
    font-size: 220%;
}

.table-container {
    border-radius: 3%;
    margin-left: 3.3%;
    margin-right: 3.3%;
    margin-top: 3%;
    overflow-x: auto;
    overflow-y: auto;
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
table, th, td{
    border: 1px solid #e4e4e4;
    border-radius: 3%;
    padding: 8px;
}

th, td {
    padding: 10px;
    text-align: left;
    
}
th {
    background-color: white;
}

.table-row img{
    width: 10%;    
    border-radius: 100%; 
    
}

td button{
    background-color: blue;
    color: white;
}

.cancelado{
    color: white;
    background-color: rgb(199, 0, 0);
    
}

.confirmado{
    color: white;
    background-color: green;
}

.pendente{
    color: white;
    background-color: rgb(179, 179, 0);
}

footer {    
    width: 100%;    
    color: black;    
    text-align: center; 
    margin-top: 5%;
    margin-bottom: 2%;
}
