@import '_header.css';
@import '_sidebar.css';
@import '_boxes_painel.css';
@import '_table_painel.css';
@import '_footer.css';
@import '_pagination.css';
@import '_form_patient.css';
@import '_sidebar_prontuario.css';
@import '_messages.css';



*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0; /* Remova margens padrão */
    padding: 0; /* Remova preenchimentos padrão */
  }

  .main{      
    margin-left: 12%;    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }

  

  .content{
    width: 100%;
    height: 100%;          
    background-color: rgb(245, 245, 245);
    
}
  

.titulo-secao{
  background-color: rgb(255, 255, 255);
  padding: 0.5%;
  margin-left: 3.3%;
  margin-top: 0.5%;
  margin-right: 3.3%;
  margin-bottom: 1%;
  height: 100%;
  max-height: 100%;
}

.titulo-secao h2{
  font-size: 110%;
  color: rgb(61, 61, 61);
}

/*---- CSSs do Prontuário ---- */

.main-pront{
  margin-left: 16%;    
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

.titulo-secao-pront{
  background-color: rgb(255, 255, 255);
  padding: 0.5%;
  margin-left: 3.3%;
  margin-top: 0.5%;
  margin-right: 3.3%;
  margin-bottom: 1%;
  height: 100%;
  max-height: 100%;
}

.titulo-secao-avulso h3{
  font-size: 100%;
  color: rgb(73, 73, 73);
}

.titulo-secao-pront h2{
  font-size: 95%;
  color: rgb(61, 61, 61);
}

.titulo-secao-avulso{
  padding: 0.5%;
  margin-left: 3.3%;
  margin-top: 0.5%;
  margin-right: 3.3%;
  margin-bottom: 1%;
  height: 100%;
  max-height: 100%;
}

.help-text{
  margin: 0;
  font-size: var(--smallest-font-size);
  list-style: none;
}



/* -------FORMS-------*/



.alert-danger{
  color: red;
}

.error-list {
  color: #dc3545;  /* Cor vermelha associada a erros no Bootstrap, pode ser ajustada conforme necessário */
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 15px;
}

.field-error {
  list-style-type: none;  /* Remova os marcadores da lista */
}

.alert-success {
  color: green;
}