{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médico Digital</title>
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7a03f9b2b5.js" crossorigin="anonymous"></script>
</head>
<body>    
    
    {% include 'partials/_sidebar.html' %}  
    <section class="main">        
        {% include 'partials/_header.html' %}
        {% block content %}{% endblock %}               
        {% include 'partials/_footer.html' %}
    </section>    
    
    <script src="{% static 'static/js/user_box.js' %}"></script> 
</body>
</html>