{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prontuário</title>
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">    
    
</head>
<body>    
    
    {% include 'partials/_sidebar_prontuario.html' %}  
    
    <section class="main-pront">
        
        {% include 'partials/_header_pront.html' %}         
        {% block content %}{% endblock %}         
        {% include 'partials/_footer.html' %}
    </section>    

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="{% static 'static/js/ajax_atendimento.js' %}"></script>
    <script src="{% static 'static/js/timer.js' %}"></script>
    

</body>
</html>
