{% extends 'base.html' %}

{% block content %}
<div class="content">
    <div class="titulo-secao">
        <div class="form_patient">
            <h1>Adicionar Paciente</h1>
            <br>
            <form
                action="{% url 'dashboard:create'%}"
                method="post" class="form-create-patient">
                {% csrf_token %}
                
                {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}
                
            </form>
            <input type="submit" value="Enviar">

        </div>      
    </div>
</div>
{% endblock %}