{% extends 'base.html' %}

{% block content %}    
    
    {% if page_obj %}
        <div class="table-container">
            <table class="table-index">                       
                <thead class="table-head">  
                    <tr class="table-row">
                        <th colspan="7"> <!-- colspan="7" para ocupar todas as colunas -->
                            <h3 class="titulo-consultas">Pacientes </h3>
                            <br>
                            <a href="{% url 'dashboard:create' %}"><button> Registrar novo Paciente</button></a>
                            
                            <a href="{% url 'dashboard:agendar' %}"><button> Agendar um Paciente</button></a>
                        </th>
                    </tr>                                        
                    <tr class="table-row">                        
                        <th>Nome</th>
                        <th>ID</th>
                        <th>Telefone</th>
                        <th>Última consulta</th>                       
                        
                        
                    </tr>
                </thead>               
                
                
                <tbody>
                    {% for paciente in page_obj %}           
                        <tr class="table-row">                        
                            <td>
                                <a href="{% url 'dashboard:read_patient' paciente.id %}">
                                    {{ paciente.nome }}
                                </a>
                            </td>

                            <td>
                                <a href="#">
                                    {{ paciente.id }}
                                </a>
                            </td> 

                            <td>{{ paciente.telefone}}</td>

                            <td>consulta statica</td>                     
                             
                                                 
                            <td>                                
                                <button><a href="#">Agendar</a></button>
                                <button><a href="#">Prontuario</a></button>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>  
                            
            </table>
            {% include 'partials/_pagination.html' %}  
        </div> 
        {% else %}
        <div class="titulo-secao">
            <h2>
                Nenhum paciente registrado.
            </h2>
        </div>
        
    {% endif %}
{% endblock %}