{% extends 'base.html' %}

{% block content %}  

<div class="content">
    <div class="btns-main ">     
        
        <a class="btn-main" href="{% url 'dashboard:create' %}">
            <i class="fa-regular fa-plus"></i>
            Registrar novo Paciente</a>
        <a class="btn-main" href="{% url 'dashboard:agendar' %}">
            <i class="fa-regular fa-calendar"></i>
            Agendar um Paciente</a>
    </div>   

    {% if page_obj %}        
        <div class="table-container">
            <div class="message-center">{% include 'partials/_messages.html' %}</div>            
            <table class="table-index">                       
                <thead class="table-head">  
                    <tr class="table-row">
                        <th colspan="7"> 
                            <h3 class="titulo-consultas">Pacientes </h3>
                        </th>
                    </tr>                                        
                    <tr class="table-row">                        
                        <th>Nome</th>
                        <th>ID</th>
                        <th>Telefone</th>
                        <th>Última consulta</th>                       
                    </tr>
                </thead>
                <tbody>
                    {% for p in page_obj %}           
                        <tr class="table-row">                        
                            <td>
                                <a href="{% url 'dashboard:read_patient' p.id %}">
                                    {{ p.nome }}
                                </a>
                            </td>

                            <td>
                                <a href="{% url 'dashboard:read_patient' p.id %}">
                                    {{ p.id }}
                                </a>
                            </td> 
                            <td>{{ p.telefone}}</td>
                            <td> {{ p.ultimo_atendimento }}</td>
                            <td>                                
                                <a class="btn-main" href="{% url 'dashboard:agendar_paciente' p.id %}">Agendar</a>
                                <a class="btn-main" href="{% url 'dashboard:prontuarios_especificos' p.id %}">Prontuarios</a>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            {% include 'partials/_pagination.html' %} 
                        </td>
                    </tr>
                </tfoot>
            </table>
             
        </div> 
        {% else %}
        <div class="titulo-secao">
            <h2>
                Nenhum paciente registrado.
            </h2>
        </div>
    {% endif %}
</div>
{% endblock %}
                                                       