{% extends 'base.html' %}


{% block content %}
<div class="content">
    <div class="titulo-secao-pront">  
        {% include 'partials/_messages.html' %}     
        <h1>{{ paciente.nome }} </h1>
        <br>
        <h2>Idade: {{ paciente.idade }}</h2>            
        <h2>Convênio: {{ paciente.convenio}}</h2>            
        <h2>Primeira consulta: static</h2>  

        <a href="{% url 'dashboard:update_patient' paciente.id %}">Editar</a>
        <a href="{% url 'dashboard:delete_patient' paciente.id %}">Deletar</a>
    </div>
</div>
{% endblock %}
    