.pagination {
    
    
    display: flex;
    justify-content: center;
    padding: calc(var(--spacing) * 0.8);
    font-size: var(--small-font-size);
    
  }
  
  

  
.pagination .step-links a {
    color: blue;
    text-decoration: none;
    
  }
  