.sidebar_pront {       
    height: 100%;    
    width: 16%;
    position: fixed;    
     
    background-color: #514BF2;      
    background-color: #038C8C; 
    background-color: #a7cfcf;
    background-color: #3575ee;  
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.sidebar_pront a {   
    padding: 10%;     
    width: 100%;
    text-decoration: none;
    font-size: 85%;
    color: white;
    display: flex;    
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    
    
    
}
.sidebar_pront a:hover{opacity: 0.5;}

.sidebar_pront a.active{
    background-color: rgb(245, 245, 245); 
    color: black;
    
}


.sidebar_pront h1 {   
    margin-top: 2%;
    font-size: 180%;
    display:flex; 
    max-width: 100%;
    color: white;
    align-items: center;
    
}

.sidebar_pront h1:hover{
    opacity: 0.5;
}

#ultimo-link {
    padding-top: 60%;
    font-size: 200%;
    color: rgb(88, 207, 88);
}

.logo{
    width: 100%;
    
}

.button-not-pressed {
    background-color: rgb(75, 221, 7);
    color: rgb(255, 255, 255);
}

.button-pressed {
    background-color: rgb(228, 5, 5);
    color: rgb(255, 255, 255)
}

