{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div class="titulo-secao">
            <h2>
                Painel Inicial
            </h2>
        </div>
        <div class="all-box-info">
            <div class="box-info-single">
                <i class="bi bi-clipboard2"></i>
                <div class="info-text">                
                    <h3>Agendados hoje</h3>
                    <p class="valor-box">025</p>   
                    <br>                                 
                </div>
                <h4>Ver gráfico comparativo -></h4>                
            </div>
            <div class="box-info-single">
                <i class="bi bi-clipboard2-check"></i>
                <div class="info-text">                    
                    <h3>Atendidos hoje</h3>
                    <p class="valor-box">005</p>
                    <br>                    
                </div>
                <h4>Ver gráfico comparativo -></h4>
                
            </div>
            <div class="box-info-single">
                <i class="bi bi-list-columns"></i>
                <div class="info-text">                    
                    <h3>Consultas/Mês</h3>
                    <p class="valor-box">151</p>
                    <br>                                          
                </div>
                <h4>Ver gráfico comparativo -></h4> 
                
                
            </div>
            <div class="box-info-single">
                <i class="bi bi-currency-dollar"></i>
                <div class="info-text">
                    <h3>Receita/Mês</h3>
                    <p class="valor-receita-mes">10.250</p>
                    <br>                    
                </div>
                <h4>Ver gráfico comparativo -></h4>
            </div>            
        </div> 
        <!-- Fim das caixas e inicio dos Pacientes -->
        
        {% if page_obj %}
        <div class="table-container">
            <table class="table-index">                       
                <thead class="table-head">  
                    <tr class="table-row">
                        <th colspan="7"> <!-- colspan="7" para ocupar todas as colunas -->
                            <h3 class="titulo-consultas">Próximas Consultas</h3>
                        </th>
                    </tr>                                        
                    <tr class="table-row">                        
                        <th>Nome do Paciente</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Procedimento</th>
                        <th>Convênio</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>               
                
                
                <tbody>
                    {% for paciente in page_obj %}           
                        <tr class="table-row">                        
                            <td>
                                <a href="#">
                                    {{ paciente.nome }}
                                </a>
                            </td>
                            <td>
                                
                                    {{ paciente.data_formatada }}
                                
                            </td>
                            <td>
                                
                                    {{ paciente.hora_consulta }}
                                
                            </td>
                            <td>
                                
                                    {{ paciente.procedimento }}
                                
                            </td>   
                            <td>
                                
                                    {{ paciente.convenio }}
                                
                            </td>                         
                            
                            
                            {% with css_class=status_css_mapping.paciente.status %}
                                <td class="{{ css_class }}">
                                    {{ paciente.status }}
                                </td>
                            {% endwith %}

                            <td>
                                
                                    <button><a href="#">Iniciar Atendimento</a></button>
                                
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>  
                            
            </table>
            {% include 'partials/_pagination.html' %}  
        </div> 
        {% else %}
        <div class="titulo-secao">
            <h2>
                Não há próximas consultas com esses dados
            </h2>
        </div>
        
        {% endif %}      
    </div>



{% endblock %}