{% extends 'base.html' %}

{% block content %}
    

    <div class="content">  
        {% include 'partials/_messages.html' %}     

        <div class="titulo-secao">
            <h2>
                Painel Inicial

                <div class="search">
                    <form
                        action="{% url 'dashboard:search' %}"
                        method="GET">
                    <div class="search-input-container">
                        <input
                            type="search"
                            class="search-input"
                            placeholder="Buscar um Agendamento"
                            id="search"
                            name="query_index"
                            value=" {{ search_value }}"
                            
                        >
                        <i class="bi bi-search search-icon"></i>
                        
                    </div>
                    </form>
                
                </div> 
            </h2>
            
        </div>
        <div class="all-box-info">
            <div class="box-info-single">
                <i class="bi bi-clipboard2"></i>
                <div class="info-text">                
                    <h3>Agendados hoje</h3>
                    <p class="valor-box">{{ agendamento_diario }}</p>   
                    <br>                                 
                </div>
                <h4>Ver gráfico comparativo -></h4>                
            </div>
            
            
                <div class="box-info-single">
                    <i class="bi bi-clipboard2-check"></i>
                    <div class="info-text">                    
                        <h3>Atendidos hoje</h3>
                        <p class="valor-box">{{ total_diario }}</p>
                        <br>                    
                    </div>
                    <h4>Ver gráfico comparativo -></h4>                
                </div>


                <div class="box-info-single">
                    <i class="bi bi-list-columns"></i>
                    <div class="info-text">                    
                        <h3>Consultas/Mês</h3>
                        <p class="valor-box">{{  total_mensal }}</p>
                        <br>                                          
                    </div>
                    <h4>Ver gráfico comparativo -></h4>                
                </div>  
            
                
            


            <div class="box-info-single">
                <i class="bi bi-currency-dollar"></i>
                <div class="info-text">
                    <h3>Receita/Mês</h3>
                    <p class="valor-receita-mes">0</p>
                    <br>                    
                </div>
                <h4>Ver gráfico comparativo -></h4>
            </div>            
        </div> 
        <!-- Fim das caixas e inicio dos Pacientes -->
        
        {% if page_obj %}
        <div class="table-container">
            <table class="table-index">                       
                <thead class="table-head">  
                    <tr class="table-row">
                        <th colspan="7"> <!-- colspan="7" para ocupar todas as colunas -->
                            <h3 class="titulo-consultas">Próximas Consultas</h3>
                        </th>
                    </tr>                                        
                    <tr class="table-row">                        
                        <th>Nome do Paciente</th>
                        <th>ID</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Procedimento</th>
                        <th>Convênio</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>               
                
                
                <tbody>
                    {% for agendamento in page_obj %}           
                        <tr class="table-row">                        
                            <td>
                                <a href="#">
                                    {{ agendamento.paciente.nome }}
                                </a>
                            </td>

                            <td>
                                <a href="#">
                                    {{ agendamento.paciente.id }}
                                </a>
                            </td>
                            <td>
                                
                                    {{ agendamento.data_formatada }}
                                
                            </td>
                            <td>
                                
                                    {{ agendamento.hora_consulta }}
                                
                            </td>
                            <td>
                                
                                    {{ agendamento.procedimento }}
                                
                            </td>   
                            <td>
                                
                                    {{ agendamento.convenio }}
                                
                            </td>      
                            
                            <td>
                                {{ agendamento.status }}
                            </td>
                            
                            
                           
                            <td>
                                
                                <form method="post" action="{% url 'dashboard:prontuario' agendamento.paciente.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Iniciar Atendimento</button>
                                </form>
                                
                                
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>  
                            
            </table>
            {% include 'partials/_pagination.html' %}  
        </div> 
        {% else %}
        <div class="titulo-secao">
            <h2>
                Não há próximas consultas com esses dados
            </h2>
        </div>
        
        {% endif %}      
    </div>



{% endblock %}