{% extends 'prontuario.html' %}

{% block content %}
    <div class="content">   
        <div class="titulo-secao-pront">
            <div class=""> 

                                
                <h1>Login</h1>                
                <br>
                
                {% if user.is_authenticated %}
                    <p>
                        Você fez login como {{ user.username }}
                        Clique <a href="{% url 'dashboard:logout' %}"> Aqui</a> para sair
                    </p>
                    
                {% else %}
                    {% include 'partials/_user_form.html' %} 
                    <br> 
                    <p>Ainda não é cadastrado? Cadastre-se <a href="{% url 'dashboard:register_user' %}">aqui</a></p>
                {% endif %}
                    
                {% include 'partials/_messages.html' %}
                <br>
                 
            </div>      
        </div>
    </div>
{% endblock %}