{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'static/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <div class="content">   
        <div class="titulo-secao-pront">
            <div class="">                                 
                <h1>Login</h1>                
                <br>                
                {% if user.is_authenticated %}
                    <p>
                        Você fez login como {{ user.username }}
                        Clique <a href="{% url 'dashboard:logout' %}"> Aqui</a> para sair
                    </p>
                    
                {% else %}
                    {% include 'partials/_user_form.html' %} 
                    <br> 
                    <p>Ainda não é cadastrado? Cadastre-se <a href="{% url 'dashboard:register_user' %}">aqui</a></p>
                {% endif %}
                    
                {% include 'partials/_messages.html' %}
                <br>
                 
            </div>      
        </div>
    </div>

</body>
</html>
    