{% extends 'prontuario.html' %}

{% block content %}
    <div class="content">   
        <div class="titulo-secao-pront">
            <div class="">
                
                <h1>Registro</h1>                
                <br>
                {% if error_message %}
                <div class="alert-danger">
                  {{ error_message }}
                </div>
                {% endif %}

                {% if success_message %}
                <div class="alert-success">
                    {{ success_message }}
                </div>
                {% endif %}

                <br>
                <form
                    action="{% url 'dashboard:register_user' %}"
                    method="POST">
                    {% csrf_token %}
                    
                    
                    {% if form.non_field_errors %}                        
                        {{ form.non_field_errors}}                                               
                    {% endif %}                   
                      
                    {% for field in form %}                    
                    <div>
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                        {{ field }}
                        
                        {% if field.errors %}
                            <ul class="error-list">
                                {% for error in field.errors %}
                                    <li class="field-error">{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                        {% if field.help_text %}
                            <p class="help-text">{{ field.help_text }}</p>
                        {% endif %}                        
                    </div>
                    {% endfor %}
             

                    <input type="submit" value="Enviar">
                </form>   
            </div>      
        </div>
    </div>
{% endblock %}
