{% extends 'base.html' %}

{% block content %}

    <div class="content">
        <div class="titulo-secao">
            <h2>
                Painel Inicial
            </h2>
        </div>
        <div class="all-box-info">
            <div class="box-info-single">
                <i class="bi bi-clipboard2" style="font-size: 270%;"></i>
                <div class="info-text">                
                    <h3>Agendados hoje</h3>
                    <p>025</p>   
                    <h4>Ver gráfico comparativo -></h4>             
                </div>
                
            </div>
            <div class="box-info-single">
                <i class="bi bi-clipboard2-check" style="font-size: 270%;"></i>
                <div class="info-text">                    
                    <h3>Atendidos hoje</h3>
                    <p>005</p>
                    <h4>Ver gráfico comparativo</h4>
                </div>
                
            </div>
            <div class="box-info-single">
                <i class="bi bi-list-columns" style="font-size: 270%;"></i>
                <div class="info-text">
                    <h3>Consultas/Mês</h3>
                    <p>151</p>
                    <h4>Ver gráfico comparativo</h4>
                </div>
            </div>
            <div class="box-info-single">
                <i class="bi bi-currency-dollar" style="font-size: 270%;"></i>
                <div class="info-text">
                    <h3>Receita/Mês</h3>
                    <p>R$21.250</p>
                    <h4>Ver gráfico comparativo</h4>
                </div>
            </div>
        </div>
    </div>



{% endblock %}