{% extends 'base.html' %}

{% block content %}

 <!-- Conteúdo Principal -->
<div class="content">
    <h1>Painel Inicial</h1>
    <div class="container">
        <div class="bloco">
            <h2>Bloco 1</h2>
            <p>Conteúdo do Bloco 1</p>
        </div>
        <div class="bloco">
            <h2>Bloco 2</h2>
            <p>Conteúdo do Bloco 2</p>
        </div>
        <div class="bloco">
            <h2>Bloco 3</h2>
            <p>Conteúdo do Bloco 3</p>
        </div>
        <div class="bloco">
            <h2>Bloco 4</h2>
            <p>Conteúdo do Bloco 4</p>
        </div>
    </div>
    <h2>conteudo content</h2>
    
</div>

{% endblock %}